.bigbox{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
}

.box{
    margin: auto;
    position: relative;
    text-align: center;
    background-color: rgb(27, 127, 74);
    padding: 10px;
    border-radius: 7px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    width: 300px;
    height: 500px;
    transform: none;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    border-width: 8px;
    border-style: dashed;
    border-color: rgb(235, 235, 235);

    
}
.box:hover{
    transform: scale(1.1) translateY(-20px);
    background-color: rgb(24, 140, 62);
    transition-duration: 0.5s;
    transition-timing-function: linear;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);

}
.button{
    width: 200px;
    height: 50px;
    background-color: rgb(199, 51, 51);
    color: rgb(255, 255, 255);
    border-radius: 7px;
    transform: none;
    transform: scale(0.9);
    border: none;
    font-size: larger;
   
}
.box1:hover{
    transform: scale(0.9);
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.box1{
    margin-top: 100px;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transform: none;

}
.button:active{
    background-color: rgb(203, 57, 57);
    color: rgb(255, 255, 255);
    transform: scale(0.85);
}
.tree1{
    position: absolute;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-bottom-color: rgb(11, 92, 54);
    right: 90px;
    top: 65px;
    z-index: 6;
}
.tree2{
    position: absolute;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-bottom-color: rgb(11, 92, 54);
    right: 90px;
    top: 90px;
    z-index: 4;
}
.tree3{
    position: absolute;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-bottom-color: rgb(11, 92, 54);
    right: 90px;
    top: 115px;
    z-index: 2;
}
.snow1{
    position: absolute;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    right: 80px;
    z-index: 3;
}
.snow2{
    position: absolute;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    right: 80px;
    top:50px;
    z-index: 5;
    
}
.snow3{
    position: absolute;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    right: 80px;
    top:100px;
    z-index: 1;
    
}
.wood{
    position: absolute;
    height: 50px;
    width: 20px;
    background-color: rgb(78, 48, 9);
    right: 110px;
    top: 160px;
    z-index: 0;
}
.words{
    margin-top: 200px;
    font-size: larger;   
}