.box1{
    width: 320px;
    height: 500px;
    background-color: rgb(238, 152, 152);
    flex-shrink: 0;
    text-align: center;
    border-radius: 5%;
    overflow: hidden;
}
.box2{
    width: 320px;
    height: 300px;
    background-color: rgb(101, 130, 159);
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    border-radius: 5%;
    overflow: hidden;
}
.box3{
    width: 320px;
    height: 100px;
    background-color: rgb(255, 255, 180);
    align-self: flex-start;
    flex-shrink: 1;
    text-align: center;
    border-radius: 5%;
    overflow: hidden;
}
.box4{
    width: 320px;
    height: 600px;
    background-color: rgb(125, 125, 188);
    align-self: flex-start;
    flex-shrink: 2;
    text-align: center;
    border-radius: 5%;
    overflow: hidden;
}
.bigbox{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}