.div1{
  padding: 5px;
    width: 435px;
    height: 660px;
   background-color: rgb(255, 255, 255);
   margin: auto;
   align-items: center;
   box-shadow: 5px 5px 5px 5px rgb(214, 212, 212);
   
}
.erweima{
  position:absolute;
  width: 0px;
  height: 0px;
  border: 40px solid transparent;
  border-bottom-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  z-index: 1;
}
.ma{
  position: absolute;
  z-index: 0;
  height: 80px;
  width: 80px;
}
  .img2{
    width: 90px;
   
}
  .img3{
    width: 24px;
    float:right;
}
  .img4{
    width: 24px;
    float: left;
}

  
table{
     border: 1px solid rgb(236, 236, 236);

     text-align: center;
     border-radius: 8px;
     overflow: hidden;
     box-shadow:none;
     border-collapse: separate;
     border-spacing: 0;
}
     
tr{
     width: 480px; 
     height: 55px;
     border: 1px solid rgb(236, 236, 236);
     text-align: center;

}
.number{
  width: 100px;
  height: 55px;
  text-align: center;
}

   
.div2{
 text-align: center;

 
}
td{
  width: 10px;
  height: 10px;
  border: 1px solid  rgb(209, 208, 208) ;
}

.div3{
 display: flex;
 justify-content: center;
 margin-top: 40px;
}
input{
  border: none;
  outline: none;
  text-align: left;
  font-size: 100%;
  vertical-align: middle;
  
}
select{
  display: flex;
  justify-content: right;
  border: none;
  outline: none;
 text-align: left;
 color: rgb(117, 117, 117);
}
.div4{
 display: flex;
 justify-content: center;
 margin-top: 10px;
}
a {     
  text-decoration: none;
  color: #3F91D2;
}
.span1{
  color: rgb(163, 159, 159);
  accent-color: red;
}
.span2{
  margin-left: 40px;
}
.span3{
  margin-left: 16px;
   color: rgb(188, 188, 188);
}
.span4{
  margin-left: 16px;
}
.div5{
  margin-top: 50px;
  text-align: center;

}
.button{
  width: 300px;
  height: 50px;
  font-size: larger;
  color: rgb(255, 255, 255);
  background-color: #FF3A3A;
  border-radius: 8px;
  border: none;
  overflow: hidden;

}
.div6{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.signin{
  text-decoration: underline;
  color: #6b6868;
  font-size: larger;
}
.div7{
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 40px;
  
}
.tb{
  width: 40px;
  height: 40px;
}

.div8{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size:90% ;
}
.yes{
  color: rgb(163, 159, 159);
  accent-color: rgb(219, 71, 71);
}
.tx{
  position: relative;
  border-radius: 5px;
  left: 80px;
  top: 10px;
  background-color: rgb(165, 164, 164);
  color: #efeeee;
  text-align: center;
  font-size: smaller;
  align-items: center;
  display: block;
  width:100px;
  height: 30px;
  z-index: 2;
}
.jianjiande{
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border: 4pxpx solid transparent;
  border-top:  rgb(183, 100, 100);
  z-index: 9999;
}
.x{
  display: block;
  position:relative;
  top: -25px;
  right: 5px;
 
 
}